/*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6,a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr,iframe {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
	text-decoration:none;
	list-style:none;
	
}
.sublist
{
margin:9px 20px 9px 85px;
}
a,a:active,a:hover {outline: none;}

a, a:visited
{
color:blue;
}
a:hover { color: orange; }
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}


/* General Style */ 

html {
	overflow-y:scroll;
}


body{
	background:url(../images/pattern/pattern1.png) repeat ;
	font:100% Arial,'Signika';
	line-height:20px;
	font-weight:normal;
	font-style:normal;
	color:#999;
}

#wrapper{
	margin:50px auto 30px auto;
	width:780px;
}

header{
	width:230px;
	float:left;
}


/* Main navigation */
#mainNav{
	margin-left:6px;
}

#mainNav li{
	
	display:inline-block;
	margin-left:5px;
	margin-bottom:5px;
	width:215px;
	height:40px;
	border-right: 5px solid #e3e2e2;
	float:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	position:relative;
	
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}

#mainNav li > a{
	color:#999;
	display:inline-block;
	padding:11px 10px 10px 119px;
	background-repeat:no-repeat;
	font-family: "Signika";
	font-weight:300;
	font-size:17px;
	color:#787878;
	width:65px;
	height:21px;
	

}

#mainNav li a.tab-about{
	background-image: url(../images/about-ico.png);
	background-position: 14px 7px;
	

}

#mainNav li a.tab-portfolio{
	background-image: url(../images/folio-ico.png);
	background-position: 14px 7px;

}

#mainNav li a.tab-other{
	background-image: url(../images/other-ico.png);
	background-position: 14px 7px;

}
#mainNav li a.tab-milestones{
	background-image: url(../images/milestone-ico.png);
	background-position: 14px 7px;

}
#mainNav li a.tab-experience{
	background-image: url(../images/timeline-ico.png);
	background-position: 14px 7px;

}
#mainNav li a.tab-skills{
	background-image: url(../images/ability-ico.png);
	background-position: 14px 7px;

}
#mainNav li a.tab-links{
	background-image: url(../images/links-ico.png);
	background-position: 14px 7px;

}

#mainNav li.active{
	border-right: 5px solid #5353CD;
	background:#fff  url(../images/nav-arrow-active.png) no-repeat 102% center;
	
	
	
}

#mainNav li.active .tab-about{
	background-image: url(../images/about-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}

#mainNav li.active .tab-milestones{
	background-image: url(../images/milestone-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}
#mainNav li.active .tab-experience{
	background-image: url(../images/timeline-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}
#mainNav li.active .tab-skills{
	background-image: url(../images/ability-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}
#mainNav li.active .tab-links{
	background-image: url(../images/links-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}
#mainNav li.active .tab-portfolio{
	background-image: url(../images/folio-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;	
}

#mainNav li.active .tab-other{
	background-image: url(../images/other-ico-active.png);
	background-position: 14px 7px;
	color:#5353CD;
	
}


/* End main navigation */
#img{
	margin-left:12px;
	margin-bottom:50px;
	position:relative;
	
}

#img img{
	border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;	
}


#img hgroup{
	background:#5353CD;
	width:218px;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-o-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	text-align:center;
	background:rgba(83,83,205, 0.94);
	margin-bottom:5px;
	padding-top:10px;
	position:absolute;
	top:193px;
	left:0;
	line-height:28px;
	
}

#img hgroup h1{
	font-weight:bold;
	font-size:33px;
	color:#fff;
	margin-bottom:3px;
}

#img hgroup h2{
	
	font-size:12px;
	color:#fff;
	padding-bottom: 3px;
}

#tabsContainer{
	width:525px;
	float:left;
	background:#e3e2e2;
	border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	padding:3px 3px 3px 0;
	margin-left:7px;
	margin-bottom:10px;
	position:relative;
	
}

#edge{
	position:absolute;
	top:0;
	left:480px;
}

#innerBg{
	background:#fff;
	margin:0 auto;
	border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	padding:20px 25px 35px 25px;
}



footer p{
	color:#ccc;
	font-size:11px;
	margin-top:5px;
	margin-left: 400px;
}

ul#socials {
    height: 62px;
    margin-left: 425px;
    width: 200px;
	margin-top:5px;
	height:40px;
}

ul#socials li  {
  	display:inline-block;
	width:31px;
	height:31px;
	padding-left:5px;
}


ul#socials  li.fb{background: url(../images/social-sprite.png) no-repeat 0 0;}
ul#socials  li.tw{background: url(../images/social-sprite.png) no-repeat -36px 0;}
ul#socials  li.li{background: url(../images/social-sprite.png) no-repeat -72px 0;}
ul#socials  li.vm{background: url(../images/social-sprite.png) no-repeat -108px 0;}

ul#socials li.fb , ul#socials li.tw , ul#socials li.li, ul#socials  li.vm{
-webkit-transition: background-position .3s ease-in-out;
-moz-transition: background-position .3s ease-in-out;
-o-transition: background-position .3s ease-in-out;
transition: background-position .3s ease-in-out;
}
ul#socials  li.fb:hover{background: url(../images/social-sprite.png) no-repeat 0 -31px;}
ul#socials  li.tw:hover{background: url(../images/social-sprite.png) no-repeat -36px -31px;}
ul#socials  li.li:hover{background: url(../images/social-sprite.png) no-repeat -72px -31px;}
ul#socials  li.vm:hover{background: url(../images/social-sprite.png) no-repeat -108px -31px;}


/* End general style */ 

/* About tab */


#about, #experience, #links, #skills, #milestones,#other{
	
	font-size:12px;
	width:478px;
}

#about hgroup, p{
	padding:0;
	margin:0;
}
#experience hgroup, p{
	padding:0;
	margin:0;
}
#introduction ul li {
	background:#efefef;
    border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
    color: #666666;
    font-size: 11px;
  	margin-bottom: 10px;
	margin-top: 9px;
	padding: 6px 30px 5px 10px;
	border-left:3px solid #cccccc;
}


#introduction ul li span{
	font-weight:bold;
}

.info{
	float:left;
	margin-right:38px;
}

#about h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}
#experience h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}
#skills h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}

#milestones h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}

#links h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}
#other h1{
	font-family: "Signika";
	font-weight:400;
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;

}
#about h4{
	font-size:12px;
	color:#666;
	font-weight:bold;

}

#about h6{
	font-size:11px;
	color:#333;
	font-weight:bold;
	font-style:italic;
}

#introduction {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #e3e2e2;
}


a.vcardButton {
	margin-left:320px;
	background:#5353CD;
	border:1px solid #5353CD;
	width:auto;
	padding:8px 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:12px;
	color:#ffffff;
	background-image: url(../images/bg-button.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

a.vcardButton:hover{
	background:#777777;
	border:1px solid #777777;
	background-image: url(../images/bg-button.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);

}

.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* End about tab */


/* Portfolio tab */

#portfolio{
	width: 478px;
}

#portfolio h1{
	font-family: "Signika";
	font-size:18px;
	color:#5353CD;
	margin:0 0 10px 0;
	padding:0;
}

#portfolio p, ul{

	font-size:12px;

}

#portfolio p{

	padding-bottom:10px;
	margin-bottom:2px;
	border-bottom:1px dotted #e3e2e2;

}

ul#category{
	padding-left: 88px;
	border-bottom:1px dotted #e3e2e2;
	position:relative;
}

ul#category li {
	display:inline-block;
	padding:8px;
	padding: 3px 3px 3px 6px;
	
}

ul#category li a{
	color:#777;
	display:inline-block;
	font-size:14px;
	font-family: "Signika";
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

ul#category li span{
	color:#777;
}

ul#category li a:hover{
	
	color:#5353CD !important;

	
}

#animated-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 1px; 
	background: #5353CD;
	padding:0 !important;
}




#works{
	margin-left:1px;
}

.current a{
	color: #5353CD !important;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



ul li.item {
    float: left;
    margin-right: 3px;
    margin-top: 15px;
    padding: 5px 5px 14px;
	position:relative;
}

ul li.item img {width:100%;}

li.item h3{
	font-weight:bold;
	margin-top:5px;
	color:#666;
	margin-top:15px;
	text-align:center;
	border-bottom:1px solid #e3e2e2;
	padding-bottom:10px;
}

span.border {
    border-bottom: 1px solid #5353CD;
    height: 1px;
    left: 62px;
    position: absolute;
    top: 185px;
    width: 110px;
}

span.plus {
    background:url(../images/zoom.png) no-repeat;
    height: 39px;
    left: 189px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 45px;
	color:#5353CD;
	z-index:100;

}

li.item h3 span{
	font-weight:normal;
	margin-top:5px;
	color:#5353CD;
	
}

/* End portfolio tab */



/* Clear float style*/
.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
}

.clearfix:after{
	clear:both;
}
/*End clear float style */


/*-------------------------------------------------------------------------*/

/* Media queries */

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {

/* Wrapper style */		
#wrapper{width:750px;}

/* Header */
	header{width:215px;}
	
/* tabsContainer */
#tabsContainer {margin-left: 22px;width: 510px;}

/*Edge*/
#edge {left: 465px;}

/*About tab */
#about, #experience, #portfolio, #skills, #milestones, #links, #other{width:464px;}
#introduction ul li {padding: 6px 38px 5px 10px;}
a.vcardButton{margin-left:300px;}


/*Portfolio tab */
#works {margin:0}
ul li.item {margin-right: 3px;padding: 5px 2px 14px;}


/* Footer */
footer p {margin-left: 395px;}

}
/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
/* Wrapper style */		
#wrapper{width:480px;}

/* Header */
header{width:195px;}

/* innerBg*/
#innerBg {padding: 20px 22px 35px;}

/*Edge*/
#edge {left: 186px;}

/* tabsContainer */
#tabsContainer {margin-left: 41px;width: 231px;}

/*About tab */
#about, #experience, #portfolio, #skills, #milestones, #links, #other{width:196px;}
a.vcardButton{margin-left:36px;}
.info {margin-right: 3px;}


/*Portfolio tab */
#works {margin-left: -5px;}
ul#category {padding-left: 0;}
ul#category li {padding: 3px 0px 3px 0px;}
li.item h3{width:190px;}
span.plus {left: 154px;top:79px;}
span.border { left: 51px;top: 165px;width: 90px;}
#category li #animated-line{display:none;}

}


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	
/* Wrapper style */		
#wrapper{width:295px;}

/* Header */
header{width:270px;}

/* innerBg*/

#innerBg {padding: 20px 22px 35px;}

/*Edge*/

#edge {left: 226px;}

/*Main nav*/
#mainNav li.active {background: url("../images/nav-arrow-active.png") no-repeat scroll 101% center #FFFFFF;}

/*tabsContainer*/
#tabsContainer {margin-left: 10px;width: 271px;}
#img {margin-bottom: 2px;}
#img img {width: 271px;}
#img hgroup {top:196px;width:271px;}
#mainNav li {width:267px;}
#mainNav li > a {padding: 11px 10px 10px 169px;}

/*About tab */
#about, #experience, #portfolio, #skills, #milestones, #links, #other{width:230px;}
.info {margin-right:23px;}
a.vcardButton{margin-left:70px;}

/*Portfolio tab */
span.border {top: 179px;left:58px;}
span.plus {left:180px;}
ul#category {padding-left:0;}

}

/*End media queries*/
/*-------------------------------------------------------------------------*/



