body {
    width: 980px;
    margin: auto;
    padding: 60px;
    font-family: SimHei, sans-serif, Arial;
    font-weight: 100;
    font-size: 23px;
    line-height: 39px;
}


a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a:visited { color: blue; }
a:hover { color: orange; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 {
    font-weight: 250;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 9px;
}

h2 {
    margin: 36px 0 18px 0;
    font-weight: 200;
    font-size: 30px;
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 30px;
}


p, li {
    margin: 9px 20px 9px 54px;
}

.comment{
    color: green;
	line-height: 19px;
	font-size:19px;
}

.commentsign{
    margin: 36px 0 18px 0;
}

.links{
    display: inline-block;
    width: 110px;
}
.sublist{
    margin: 9px 20px 9px 85px;
}
@media only screen and (max-device-width: 480px) {
    html {
        width: 100%;
    }

    body {
        width: auto;
        padding: 20px;
        font-size: 20px;
    }
    .sublist{
    margin: 9px 8px 9px 30px;
    }
    p, li {
        margin: 9px 8px 9px 16px;
    }
}